* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
canvas {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.ball-text {
    position: fixed;
    z-index: 2;
    color:white;
    font-size: 5rem;
    right: 20%;
    bottom: 60%;
    transform: translate(-20%,-40%);
}